/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.ld-item-list-item.imm-ls-has-access .ld-item-list-item-preview a.ld-item-name,
.ld-table-list-items .ld-table-list-item a.ld-table-list-item-preview.imm-ls-has-access,
.ld-lesson-item.imm-ls-has-access .ld-lesson-item-preview a.ld-lesson-item-preview-heading {
	cursor: pointer;
	pointer-events: all;
}

.ld-item-list-item.imm-ls-no-access .ld-item-list-item-preview a.ld-item-name,
.ld-table-list-items .ld-table-list-item a.ld-table-list-item-preview.imm-ls-no-access,
.ld-lesson-item.imm-ls-no-access .ld-lesson-item-preview a.ld-lesson-item-preview-heading {
	cursor: not-allowed;
	pointer-events: none;
}

.imm-ls-resource {
	cursor: pointer;
	pointer-events: all;
}

.ld-table-list-item-preview .ld-status {
	margin-top: 4px;
	margin-left: 4px;
}

.learndash-wrapper .ld-item-list .ld-item-list-item .ld-item-list-item-preview {
	flex-wrap: wrap;
	justify-content: center !important;
}

.learndash-wrapper .ld-item-list .ld-item-list-item .ld-item-name {
	flex: 1 1 auto !important;
}

.learndash-wrapper .ld-course-status.ld-course-status-not-enrolled .imm-ls-resource-status-content {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	margin-bottom: 0.5em;
	line-height: 1.25;
}

@media (max-width: 640px) {

	.learndash-wrapper .ld-course-status.ld-course-status-not-enrolled {
		width: 100%;
	}

}

.learndash-error {
	color: #cc0025;
}

.learndash-success {
	color: #00cca7;
}

.checkout-dropdown-button .learndash_checkout_button .btn-join {
	background-color: #fff !important;
	color: #000 !important;
	font-size: 16px !important;
}

.checkout-dropdown-button .learndash_checkout_button .btn-join:hover {
	background-color: #f5f5f5 !important;
	color: #000 !important;
}

/* Style for the dropdown menu Stripe button */
.checkout-dropdown-button .learndash-stripe-checkout-button {
	border: 0;
	border-radius: 0 !important;
	display: inline-block;
	font-size: 14px !important;
	margin: 0;
	text-align: center;
	width: 100%;
}
